---
layout: workshop
root: .
venue: Institute of Molecular Life Sciences, University of Zurich
address: Winterthurerstrasse 190
country: Switzerland
humandate: Nov 6-7, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2014-11-06
enddate: 2014-11-07
latlng: 47.396018,8.5524058
registration: restricted
instructor: ["Laurent Gatto", "Robert Stojnic"]
helper: ["Frank Pennekamp", "Peter Fields", "Jelena Aleksic"]
contact: admin@software-carpentry.org
#redirect: http://www.3rd.party.workshop.home.page.com
# eventbrite: 12334106645
lessons: ['R', 'Git', 'bash']
---

<!--
    Edit the values in the parameter block above to be appropriate for your workshop.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.

    Maybe you need to change height value:

    - for one room use 206px,
    - for one waitlist room use 152px,
    - for two room use 254px,
    - for one waitlist room and one room use 253px,
    - for two waitlist room use 197px.
-->
{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="206px" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="//software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on workshop will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong> This boot camp is an example-driven two-day
 workshop on advanced R skills. Short tutorials alternate with
 hands-on practical exercises, and participants are encouraged both to
 help one another, and to try applying what they have learned to their
 own research problems during and between sessions. Participants
 should bring their own laptops to work on.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed
  (see <a href="https://github.com/lgatto/rbc/tree/2014-11-06-Zurich">course
  repo</a> for details). They are also required to abide by Software
  Carpentry's
  <a href="http://software-carpentry.org/conduct.html">Code of Conduct</a>.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your workshop.
-->
<h2>Schedule</h2>

<p>The aim of the workshop is to provide a set of tools to enable a
more structured, efficient and systematic use of programming in
computational sciences. We will address the following points
throughout the course:</p>

<ul>
  <li>R object-oriented programming: S3 and S4, S4 Reference Classes.</li>
  <li>R package development</li>  
  <li>R documentation and roxygen</li>
  <li>Functional programming, vectorisation</li>
  <li>Reproducible research and vignettes</li>
  <li>Debugging and unit testing</li>
  <li>Automating your pipelines with Makefile</li>
  <li>Parallelisation: parallel and BiocParallel</li>
  <li>Code profiling and strategies for optimisation</li>
  <li>Using C/C++ in R and the Rcpp package</li>
  <li>Source code versioning using git and github</li>
</ul>

<p>Some of these topics will be addressed through the development of an R
package that applied object oriented programming. The main thread that
we will use is the definition and manipulations of generic and
biological sequences that will, eventually, materialise into a fully
fledged package. </p>

<p>See
the <a href="https://github.com/lgatto/rbc/tree/2014-11-06-Zurich">course
repo</a> for a detailed programme, relevant content and the course
material.</p>

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}
